pillow~=9.5.0
django~=5.0.3
requests~=2.29.0
pandas~=2.2.1
jieba~=0.42.1
tomotopy~=0.12.7
matplotlib~=3.8.3
pyldavis~=3.4.1
numpy~=1.26.4
scikit-learn~=1.4.1.post1
stylecloud~=0.5.2
seaborn~=0.13.2
snownlp~=0.12.3